@import '../../App';
.app__todayWrapper {
  padding: 20px 0;
  width: 100%;
  .app__imgWrapper {
    max-width: 400px;
    padding: 0 30px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .app__city {
    display: flex;
    justify-content: center;
    font-size: 34px;
  }
  .app__redirectButton{
    margin: 30px auto 0 auto;
  }
}
